.main-background {
    padding: 10px;
}

.main-title-background {
    width: 100vw;
    margin-bottom: 25px;
}

p.left-background {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-title {
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
}

.section-title-background {
    background: black;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.section-title-container {
    border-width: 5px!important;
    border-color: black!important;
    padding: 0!important;
}

.remove-padding {
    padding: 0!important;
}

.projects-font {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    line-height: 1.6;
}

.footer-background {
    background: rgb(57, 149, 226)!important;
    background: linear-gradient(0deg, rgba(57, 149, 226, 1) 0%, rgba(39, 75, 153, 1) 100%)!important;
    padding: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}